.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  /* border-bottom: 2px solid #5ce698; */
  color:#10AD83;
  
 
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #e7f9f0;
  border-bottom: 2px solid#10AD83;
  color: #10AD83;
  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  color:#000000;
}
.nav-tabs{
  border-bottom: none;
}
.inputSetter{
  outline: none;
  border:.5px solid  #10AD83;
  width: 800px;
  height: 30px;
  border-radius:10px ;
}
.inputSetter:hover{
border: .5px solid #56ee42;
}


select {

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  font: inherit;
  width: 120px;
  font-size:15px ;
  height: 30px;
  background-color: rgba(123, 235, 166, 0.548);
  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  
  cursor: pointer;

}
select option {
  color: inherit;
  background-color: #320a28;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
.setImg{
  border: 1px solid #10AD83;
  border-radius: 100%;
}
.SetCOnt{

  color: #10AD83;
}

.card-container{
  border-radius: 20px;
  box-shadow:  0px 0px 10px #999b9a63;
  width: 350px;

   
  
}
.selectDeco{
  border: 1px solid #10AD83;
 
}
.setPOPup{
  height: 190px;
  width: 230px;
  background-color: #fafafa;
  border: 1px solid #10AD83;
  border-radius: 20px;
  position:  fixed;
  
  z-index: 1000;
  display: none;
}
.hovInput:hover{
border:1px  solid #10AD83; 
}
.set-Color{
  /* color: #10AD83; */
  font-weight: 400 !important;
  font-size:15px ;
}
.setmsg{
  border: 1px solid #e2df20;
  background-color: #f8e15b;
  /* padding-inline:20px ; */
  padding-block: 10px;
font-size: 14px;
}
.setCube{
  background: rgba(146, 247, 163, 0.842);
  padding: 10px;
  margin-top:20px ;
}
.SetInputButton{
  outline: none;
  border: none;
}
.mergeButton{
border: 1px solid rgb(80, 235, 105);
width: fit-content;
}

.setBottomBorder{
  border-bottom: 1px solid #f2f2f2;
  
}

@media only screen and (max-width:500px ) {
 
  .text-end{
    font-size: 12px;
  }
  .SetInputButton{
    width:90%;
  }
  
  .inputSetter{
    width:auto;
  }
  .card-container{
   
    width:auto;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-inline: 10px;
  }
  .selectDeco{
  margin-top:20px ;
  margin-left: 20px;
   
  }
}
progress::-webkit-progress-value { background: #10AD83; }
progress::-moz-progress-bar { background: #10AD83; }
  

.setBorder{
  border-bottom: 1px solid #f2f2f2;
}
.setSize{
  font-size: 13px;
}
.setTabNew{
  background-color: #fdfdfd;
border-bottom: 2px solid #1ed1a1;
color: #050f0d;
}
.flex-wrapper {

}

.single-chart {
 
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height:70px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #5af047;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3dec37;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}